.footer {
    font-family: $footer-font-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: $secondary;
    margin-top: 50px;
  .footer_social{
    //algo
    .footer__social--ig{
      //algo
    }
  }   
}
  
