//// Footer style

.footer {
  font-family: $font-sub;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background:{
    color: $secondary;
    size: cover;
    } 
  margin-top: 50px;

 //.footer_social{
    //algo
 //   .footer__social--ig{
      //algo
    //}
  //}   

}

